fieldset{
    display: flex;
    align-items: center;
}

li{
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: ;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    color: #38A3A5;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    width: 96%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.mes{
    width: 140px;
    height: 40px;
    margin-bottom: 20px;
    background-color: #38A3A5;
    color: #fff;
    font-weight: 400;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendario{
    width: 90%;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}

.dia-valido{
    border: none;
    background-color: #89c3c4;
    color: #fff;
    border-radius: 50%;
    margin: 5px 0;
}

.dia-selecionavel{
    border: none;
    background-color: #38A3A5;
    color: #fff;
    border-radius: 50%;
    margin: 5px 0;
}

.dia-invalido{
    border: none;
    background-color: #89c3c4;
    color: #fff;
    border-radius: 50%;
    margin: 5px 0;
}

.outro-mes{
    background-color: #c4dac6;
    color: #95ad96;
}

.domingo{
    background-color: #e07f6e;
    color: #fff;
}
